.item1 { 
    grid-area: header; 
    overflow: auto;
}

.item2 { 
    grid-area: side; 
}

.item3 { 
    grid-area: main; 
    padding:10px;
}

.grid-container{
    display: grid;
    grid-template-areas:
    'side header heaer'
    'side main main';
    grid-gap: 0px;
    padding: 0px;
    overflow: scroll;
    position:fixed;
    overflow-x: scroll;
    overflow-y: scroll;
}



 